body {
	margin: 0;
	padding: 0;
	
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: ;
	color: #333333;
	text-transform: uppercase;
	
	background-color: #ffffff;
}

a {
	text-decoration: none;
	color: #000000;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	font-style: bold;
	color: #000000;
	background-color: #ffffff;
}

.site-navigation,
.housingmealsouvenirs-list,
.threeadvantages-list,
.social,
.catalog-list {
	list-style: none;
}

.main-navigation a[href]:hover,
.main-navigation a[href]:focus {
	color: #81b3d2;
}

.main-navigation a:not([href]) {
	color: #766357;
}

.main-navigation a[href]:active {
	color: #928a85;
}

.background-image{
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
}

.sedona {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.fiveadvantages {
	font-size: 14px;
	line-height: 26px;
	font-weight:normal;
	color: #333333;
}

.realtown .width33,
.devilsbridge .width33 {
	background-color: #81b3d2;
}

.realtown .width33 h3,
.devilsbridge .width33 h3 {
	font-size: 21px;
	font-weight: bold;
	color: #ffffff;
}

.realtown .width33 span,
.devilsbridge .width33 span {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.realtown .width33 p,
.devilsbridge .width33 p {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.housingmealsouvenirs-list h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

.housingmealsouvenirs-list p {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}
.housing-item {
	background-image: url(../img/icon-1.svg);
	width: ;
	height: ;
	background-repeat: no-repeat;
}

.meal-item {
	background-image: url(../img/icon-2.svg);
	width: ;
	height: ;
	background-repeat: no-repeat;
}

.souvenirs-item {
	background-image: url(../img/icon-3.svg);
	width: ;
	height: ;
	background-repeat: no-repeat;
}

.threeadvantages .width33 {
	background-color: #eeeeee;
}

.threeadvantages-list h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;
}

.threeadvantages-list span {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.threeadvantages-list p {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.booked h3 {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	color: #000000;
}

.booked p {
	font-size: 14px;
	line-height: 24px;
	color: #33333;
}

.booked button {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #ffffff;
	border: none;
	background-color: #766357;
}
.booked button:hover,
.booked button:focus {
	background-color: #604e43;
	outline: none;
}

.booked button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
	outline: none;
}

.main-footer {
	background-color: rgba(255, 255, 255, 0.5);
}

.tag {
	font-size: 21px;
	font-weight: bold;
	color: #000000;
	line-height: 26px; 
}

.footer-social a {
	background-color: #81b3d2;
}

.footer-copyright span {
	font-size: 14px;
	color: #000000;
	line-height: 26px;
}

.booked label {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000;
}

.booked input[type="date"],
input[type="number"] {
	background-color: #f2f2f2;
	border: none;
}
.booked input[type="date"]:hover {
	background-color: #ebebeb;
}

.booked input[type="date"]:focus {
	background-color: #ffffff;
	border: solid 2px #e5e5e5;
	outline: none;
}

.booked input[type="submit"] {
	background-color: #81b3d2;
	color: #ffffff;
	border: none;
}
.booked input[type="submit"]:hover,
input[type="submit"]:focus {
	color: #ffffff;
	background-color: #669ec0;
}
.booked input[type="submit"]:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.filters {
	background-color: #889fb2; 
/*	временно*/
}
.filters legend,
.filters .price{
	font-size: 16px; 
	font-weight: bold;
	line-height: 21px;
	color: #ffffff;
}

.filters label {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

p.found {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

p.sort {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}

.catalog-item h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.information span {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.grade .rating {
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	background-color: #f2f2f2;
}

.information .button {
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;
}

.button-more {
	background-color: #81b3d2;
}

.button-booking {
	background-color: #766357;
}