body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: ;
	color: #333333;
	text-transform: uppercase;
	background-color: #ffffff;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

a {
	text-decoration: none;
	color: #000000;
}
.main-header {
    
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
    padding: 0 73px;
	font-weight: bold;
	color: #000000;
	background-color: #ffffff;
}
.main-header-logo {
    width: 138px;
    height: 70px;
    display: block;
}

.site-navigation {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.site-navigation li {
    padding-top: 22px;
    padding-bottom: 24px;
}

.site-navigation,
.housingmealsouvenirs-list,
.threeadvantages-list,
.social,
.catalog-list {
	list-style: none;
    margin: 0;
    padding: 0;
}

.main-navigation a[href]:hover,
.main-navigation a[href]:focus {
	color: #81b3d2;
}

.main-navigation a:not([href]) {
	color: #766357;
}

.main-navigation a[href]:active {
	color: #928a85;
}

.background-image {
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.background-image img:first-child {
    margin-top: 76px;
    margin-bottom: 11px;
}

.background-image img:nth-child(2) {
    margin-bottom: 62px;
}
.background-image img:nth-child(3) {
    margin-bottom: 58px;
}

.background-image img:nth-child(4) {
    margin-bottom: 90px;
}

.caption-wrapper {
    display: flex;
    justify-content: center;
}

.caption {
    width: 576px;
    text-align: center;
    padding-top: 65px;
}

.sedona {
    margin: 0;
    margin-bottom: 40px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.fiveadvantages {
	font-size: 14px;
	line-height: 26px;
	font-weight:normal;
    margin: 0;
    margin-bottom: 59px;
	color: #333333;
}

.width33 {
    width: 33.3%;
}

.width66 {
    width: 66.7%;
}

.realtown {
    display: flex;
}

.realtown .width66 img {
    display: block;
}

.realtown .width33 {
    padding-top: 50px;
}

.realtown .width33 h3 {
    margin-bottom: ;
}

.realtown .width33,
.devilsbridge .width33 {
	background-color: #81b3d2;
    text-align: center;
}

.realtown .width33 h3,
.devilsbridge .width33 h3 {
    margin: 0;
    padding: 0;
	font-size: 21px;
	font-weight: bold;
	color: #ffffff;
}

.realtown .width33 span,
.devilsbridge .width33 span {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.realtown .width33 p,
.devilsbridge .width33 p {
    margin: 0;
    padding: 0;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
    
}

.housingmealsouvenirs {
    padding-top: 164px;   
}

.housingmealsouvenirs p {
    margin-top: 32px;
}

.housingmealsouvenirs-list {
    display: flex;
    justify-content: space-between;
}

.housingmealsouvenirs-list li {
    text-align: center;
}

.housingmealsouvenirs-list h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

.housingmealsouvenirs-list p {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}
.housing-item {
/*	background-image: url(../img/icon-1.svg);*/
	background-repeat: no-repeat;
}

.meal-item {
/*	background-image: url(../img/icon-2.svg);*/
	background-repeat: no-repeat;
}

.souvenirs-item {
/*	background-image: url(../img/icon-3.svg);*/
	background-repeat: no-repeat;
}

.devilsbridge {
    display: flex;
    flex-direction: row-reverse;
}

.devilsbridge .width33 {
    padding-top: 50px;
}

.devilsbridge .width66 img {
    display: block;
}


.threeadvantages-list {
    background-color: #eeeeee;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.threeadvantages-list li {
    text-align: center;
    
}

.threeadvantages-list h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;
}

.threeadvantages-list span {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.threeadvantages-list p {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.booked {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booked-wrapper {
    width: 576px;
    text-align: center;
}

.booked h3 {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	color: #000000;
    margin: 0;
    padding: 0;
}

.booked p {
	font-size: 14px;
	line-height: 24px;
	color: #33333;
    margin: 0;
    padding: 0;
}

.booked button {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #ffffff;
	border: none;
	background-color: #766357;
}
.booked button:hover,
.booked button:focus {
	background-color: #604e43;
	outline: none;
}

.booked button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
	outline: none;
}

.map {
    
}

.booked label {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.booked input[type="date"],
input[type="number"] {
	background-color: #f2f2f2;
	border: none;
}
.booked input[type="date"]:hover,
.booked input[type="number"]:hover {
	background-color: #ebebeb;
}

.booked input[type="date"]:focus,
.booked input[type="number"]:focus {
	background-color: #ffffff;
	border: solid 2px #e5e5e5;
	outline: none;
}

.booked input[type="submit"] {
	background-color: #81b3d2;
	color: #ffffff;
	border: none;
}
.booked input[type="submit"]:hover,
input[type="submit"]:focus {
	color: #ffffff;
	background-color: #669ec0;
}
.booked input[type="submit"]:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}


fieldset input[type="button"] {
    background: none;
    color: #ffffff;
    border: solid 2px #ffffff;
}

fieldset input[type="button"]:hover {
    color: #000000;
    background-color: #ffffff;
}


.check {
	background-image: url(../img/back2.jpg);
}
.filters legend,
.filters .price{
	font-size: 16px; 
	font-weight: bold;
	line-height: 21px;
	color: #ffffff;
}

.filters label {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

p.found {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}
.check {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
.fieldset-1 {
    display: flex;
    flex-direction: row;
}

.fieldset-2 {
    display: flex;
    flex-direction: row;
}
 .fieldset-3 {
    display: flex;
    flex-direction: row;
}

.result {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    
}

.first-sort {
	font-size: 12px;
	line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
}

.first-sort label {
    border-bottom: 1px dashed #81b3d2;
}

.first-sort label:hover {
    color: #81b3d2;
}

.catalog {
    padding: 0 73px;
}

.catalog-list {
    display: flex;
    flex-direction: column;
}

.catalog-list li{
    display: flex;
    flex-direction:row;
    margin: 30px 0 30px 0;
}

.catalog-list .preview {
    width: 135px;
    margin-right: 30px;
}

.catalog-list .information {
    flex-grow: 1; 
}

.catalog-list .grade {
    width: 241px;
    margin-left: auto;
    text-align: right;
}

.catalog-item h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.catalog-item h3:hover {
    color: #81b3d2;
}

.catalog-item h3:active {
    border-bottom: none;
    color: #81b3d2;
}

.catalog-item h3:active {
    color: rgba(0, 0, 0, 0.3);
}

.information span {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.grade .rating {
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	background-color: #f2f2f2;
}


.information .button {
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;
}

.button-more {
	background-color: #81b3d2;
}

.button-more:hover {
    background-color: #669ec0;
    
}

.button-more:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.button-booking {
	background-color: #766357;
    
}

.button-booking:hover {
	background-color: #604e43;
}

.button-booking:active {
	background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}
input[type="checkbox"] {
    
}

.main-footer {
	background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
}

.tag {
	font-size: 21px;
	font-weight: bold;
    text-align: center;
	color: #000000;
	line-height: 26px; 
}

.social li {
    display: inline-block;
}

.footer-social {
    text-align: center;
}

.footer-social a {
	background-color: #81b3d2;
}

.footer-social a:hover {
    background-color: #669ec0;
}

.footer-social a:active {
    background-color: #5496bd;
}

.footer-copyright {
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-copyright span {
	font-size: 14px;
	color: #000000;
	line-height: 26px;
}

.copyright-button:hover path {
    fill: #81b3d2;
}

.copyright-button:active path {
    fill: #bdbbbc;
}